.child-grid-container{
    display: grid;
    grid-template-areas: "chs chh"
                         "chs chm"
                         "chs chm";
    grid-template-columns: 200px 2fr;
    grid-template-rows: 100px 1fr 50px;
}
.child-header {
    grid-area: chh;
    background-color: darkcyan;
    padding: 1.5em;
}
.child-sidebar {
    grid-area: chs;
    background-color: darkcyan;
}
.child-main {
    grid-area: chm;
    background-color: darkolivegreen;
    padding: 10px;
}
.child-main h3 {
    text-align: left;
}
.child-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 1px;
    width: 200px;
    background-color:darkcyan;
    height: 600px;
   
}

.child-nav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;

}

/* Change the link color on hover */
.child-nav li a:hover {
    background-color: #555;
    color: white;
}
.home ul {
    /*list-style-type: none;*/
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.home li {
    float: left;
}

.home li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.home li a:hover {
    background-color: #111;
}
.child-header h2 {
    /*margin: 10px;*/
    text-align: center;
}

